.privacy-policy-container{
    padding: 20px 100px;
    p{
        color: #000;
    }
}

// RESPONSIVE AREA
@media only screen and (max-width:480px) {
    .privacy-policy-container{
        padding: 10px 10px;
    }
}
@media only screen and (min-width:980px) {
    .privacy-policy-container{
        padding: 20px 100px;
    }
}