.login-registration-container{
    padding: 15vh 15vw 100px;
}
.login-register-inner{
    padding: 0px 20px 0px 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 25px;
}

// .login-register-inner.card.left-login-container {
//     display: flex !important;
//     justify-content: center !important;
//     align-items: center !important;
// }

.checkout-require-input{
    color: #000;
}
.checkout-require-input.is-empty{
    color: #fa541c;
}

.buy-more-button{
    background: var(--prio-vai-like, linear-gradient(90deg, #5C33A9 0.25%, #E8639A 99.81%));
    border-color: var(--prio-vai-like, linear-gradient(90deg, #5C33A9 0.25%, #E8639A 99.81%));
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}
.buy-more-button:hover {
    transform: scale(1.01);
    border-color: var(--prio-vai-like, linear-gradient(90deg, #5C33A9 0.25%, #E8639A 99.81%));
}

.others-login-container{
    padding: 0 10vw 40px;
    .break-section{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0px;
        .heading{
            width: 20% !important;
            text-align: center;
        }
        .hr{
            background-color: #000;
            height: 2px !important;
            width: 40% !important;
        }
    }
    
}

.checkout-submit-button{
    border-radius: 10px;
    background: var(--prio-vai-like, linear-gradient(90deg, #5C33A9 0.25%, #E8639A 99.81%));
    border-color: var(--prio-vai-like, linear-gradient(90deg, #5C33A9 0.25%, #E8639A 99.81%));
    color: #FFF;
   // font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.login-register-button{
    padding: 10px 8px;
    background: var(--prio-vai-like, linear-gradient(90deg, #5C33A9 0.25%, #E8639A 99.81%));
    border-color: var(--prio-vai-like, linear-gradient(90deg, #5C33A9 0.25%, #E8639A 99.81%));
    border-radius: 0px !important;
    color: #fff;
    font-weight: 700;
}
.left-login-container{
    width: 49%;
    margin-right: 1%;
}
.right-login-container{
    width: 49%;
    margin-left: 1%;
}

/*** RESPONSIVE AREA ***/
@media only screen and (max-width:480px) {
    .left-login-container{
        width: 98%;
        margin: 1%;
    }
    .right-login-container{
        width: 98%;
        margin: 1%;
    }
    .login-register-inner{
        padding: 0px 10px 0px 10px;
    }
    .login-registration-container{
        padding: 5vh 10px 20px;
    }
    .others-login-container{
        padding: 0 10px 20px;
    }
}
@media only screen and (min-width:768px) {
  
}
@media only screen and (min-width:980px) {
    .left-login-container{
        width: 49%;
        margin-right: 1%;
    }
    .right-login-container{
        width: 49%;
        margin-left: 1%;
    }
    .login-register-inner{
        //padding: 0px 20px 0px 20px;
    }
    .login-registration-container{
        padding: 15vh 15vw 100px;
    }
    .others-login-container{
        padding: 0 10vw 40px;
    }
}
@media only screen and (min-width:1360px) {
    
}
@media only screen and (min-width:1920px) {
    
}