.products-layout-container{
    overflow: hidden;
    height: 100px;
    width: 100vw;
    background-image: linear-gradient(45deg,rgba(20, 19, 31, 0.7),rgba(20, 19, 31, 0.7)), url('/banner3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.products-layout-button{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 6px;
    font-size: 22px;
    font-weight: 700;
    //opacity: .9;
}
.products-top-container-row{
    padding:30px 80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
}
.products-bottom-container-col{
    padding:40px 80px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-wrap:wrap;
    overflow:hidden;
}
.products-bottom-container-column{
    padding:40px 80px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
.brand-title-container{
    display: flex;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
    .container{
        display: flex;
        width: 50%;
        padding: 0;
    }
    .left{
        text-align: left;
    }
    .right{
        text-align: right;
        justify-content: flex-end;
    }
    .title-view-more{
        width: 100%;
        color: #fff;
        font-size: 13px;
        background-image: linear-gradient(to right, rgba(92, 51, 169, 1), rgba(232, 99, 154, 1));
        border-radius: 0;
        border: none;
    }
}
.brand-title{
    margin: 0px 0px 10px 10px;
}
.brand-title-hr-container{
    width: 100%;
    margin: 0px 0px 10px 10px;
    height: 2px;
    background-color: #f5f5f5;
}
.brand-title-hr{
    width: 35%;
    margin: 0px;
    height: 2px;
    background-color: purple;
}
.brands-category-inner-column{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

// RESPONSIVE AREA
@media only screen and (max-width:480px) {
    .products-top-container-row{
        padding: 16px 9px;
        .products-filter-button-main{
            display: none !important;
        }
        .products-filter-group-button{
            width: 50% !important;
        }
    }
    .products-bottom-container-col{
        padding: 15px 4px;
        justify-content: flex-start;
        .home-product-container{
            width: 44vw !important;
        }
    }
    .products-bottom-container-column{
        padding:10px 5px;
    }
    .brand-title-hr{
        width: 60%;
    }
}
@media only screen and (min-width:980px) {
    .products-top-container-row{
        padding: 30px 80px;
        .products-filter-group-button{
            width: 12% !important;
        }
    }
    .products-bottom-container-col{
        padding: 30px 80px;
        justify-content: flex-start;
    }
    .products-bottom-container-column{
        padding:40px 80px;
    }
    .brand-title-hr{
        width: 35%;
    }
}