.brand-main-container{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .image-container{
        overflow: hidden;
        padding:0px 20px;
        height:27vh;
        width: 15.2vw;
        .brand-image{
            z-index: -5;
            height: 100% !important;
            width: 100% !important;
        }
    }
    .image-container .brand-image:hover{
        scale: 1.1;
        transition: .3s ease-out;
    }
    .brand-title-container{
        margin: 30px auto;
        h3{
            font-size: 16px;
            font-weight: 600;
        }
        .brand-title-link:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
}


/*** RESPONSIVE AREA ***/
@media only screen and (max-width:480px) {
    .brand-main-container{
        display: flex;
        margin: 10px;
        align-items: center;
        justify-content: flex-start;
        .image-container{
            height: 25vh;
            width: 100%;
            overflow: hidden;
            .brand-image{
                height: 100% !important;
                width: 100% !important;
            }
        }
        .brand-title-container{
            margin: 30px auto;
            h3{
                font-size: 16px;
            }
            .brand-title-link:hover{
      
            }
        }
    }
}

@media only screen and (min-width:980px) {
    .brand-main-container{
        margin: 10px;
        min-height: 22vh;
        overflow: hidden;
        .image-container{
            height: 22vh;
            width: 100%;
            overflow: hidden;
            .brand-image{
                height: 100% !important;
                width: 100% !important;
            }
        }
        .brand-title-container{
            margin: 30px auto;
            h3{
                
            }
            .brand-title-link:hover{
              
            }
        }
    }
}