.korean-shop-cart{
    //z-index: 10;
    overflow: hidden;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    .cart-body{
        position: relative;
        width: 100%;
        min-height: 35vh;
        .discount-section{
            z-index: 2;
            background-image: linear-gradient(to right, rgba(92, 51, 169, 1), rgba(232, 99, 154, 1));
            border: none !important;
            color: #fff;
            padding: 5px 12px !important;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 0;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 10px;
            display: flex;
            position: absolute;
            top:0px;
            right:0px;
            flex-direction: column;
            span{
                color:#fff;
                font-size: 14px;
            }
        }
        .image-section{
            margin: 0px .5vw;
            min-height: 32vh;
            .image{
                //height: 100% !important;
                width: 100% !important;
                z-index: -3 !important;
                height: 32vh;
            }
            .image:hover{
                transform: scale(1.1); 
                z-index: -3;
                transition: .5s ease-in;
            }
        }
    }
    .cart-content{
        .title{
            height: 8vh;
            padding: 0px 5px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            overflow: hidden;
            .products-link-href{
                span{
                    font-size: 12px !important;
                }
            }
            .products-link-href:hover{
                text-decoration: underline;
            }
        }
        .price-wishlist{
            margin-bottom: 12px;
            display: flex;
            padding: 3px 5px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .price{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .cart-price-text{
                    font-size: 18px;
                    font-weight: 600;
                }
                .cart-discount-text{
                    font-size: 18px;
                }
            }
            .wishlist{

            }
        }
    }
    .cart-action{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .product-action-button{
            width: 100%;
            color: #fff;
            font-size: 13px;
            background-image: linear-gradient(to right, rgba(92, 51, 169, 1), rgba(232, 99, 154, 1));
            border-radius: 0;
            border: none;
        }
        .add-to-cart{
            width: 49%;
        }
        .buy-now{
            width: 49%;
        }
    }
}
.cart-from-products-page{
    width: 15.2vw;
    margin: 6px .7vw;
}
.cart-from-home-page{
    width: 15.2vw;
    margin: 6px 1vw;
}
.korean-shop-cart:hover{
    cursor: pointer;
        border:  1px solid rgba(92, 51, 169, 1) ;
        transition: .3s ease-in;
}

/*** RESPONSIVE AREA ***/
@media only screen and (max-width:480px) {
    .korean-shop-cart{
        .cart-body{
            position: relative;
            width: 100%;
            min-height: 30vh;
            .discount-section{
                color: #fff;
                padding: 5px 12px !important;
                span{
                    color:#fff;
                    font-size: 14px;
                }
            }
            .image-section{
                margin: 0px .3vw;
                min-height: 30vh;
                .image{
                    height: 27vh;
                }
            }
        }
        .cart-content{
            .title{
                overflow: hidden;
                height: 6vh;
                .products-link-href{
                    span{
                        font-size: 11px !important;
                    }
                }
                .products-link-href:hover{
                    text-decoration: underline;
                }
            }
            .price-wishlist{
                padding: 3px 5px;
                .price{

                    .cart-price-text{
                        font-size: 14px;
                        font-weight: 600;
                    }
                    .cart-discount-text{
                        font-size: 13px;
                    }
                }
                .wishlist{
    
                }
            }
        }
        .cart-action{
            .product-action-button{
                width: 100%;
                font-size: 10px;
                padding: 6px;
            }
            .add-to-cart{
                width: 49%;
            }
            .buy-now{
                width: 49%;
            }
        }
    }
    .cart-from-products-page{
        width: 46.4vw;
        margin: 6px 1vw;
    }
    .cart-from-home-page{
        width: 43vw;
        margin: 6px 1vw;
    }
}

@media only screen and (min-width:980px) {
    .korean-shop-cart{
        width: 15vw;
        border-radius: 10px;
        margin: 10px 1vw;
        .cart-body{
            min-height: 35vh;
            .discount-section{
                padding: 5px 12px !important;
                span{
                    font-size: 14px;
                }
            }
            .image-section{
                margin: 0px .5vw;
                min-height: 35vh;
                .image{
                    height: 32vh;
                }
                .image:hover{
                    transform: scale(1.1); 
                    z-index: -3;
                    transition: .5s ease-in;
                }
            }
        }
        .cart-content{
            .title{
                overflow: hidden;
                height: 6vh;
                padding: 0px 5px;
                .products-link-href{
                    span{
                        font-size: 12px !important;
                    }
                }
                .products-link-href:hover{
                    text-decoration: underline;
                }
            }
            .price-wishlist{
                margin-bottom: 12px;
                padding: 3px 5px;
                .price{
                    .cart-price-text{
                        font-size: 18px;
                        font-weight: 600;
                    }
                    .cart-discount-text{
                        font-size: 18px;
                    }
                }
                .wishlist{
    
                }
            }
        }
        .cart-action{
            .product-action-button{
                font-size: 13px;
            }
            .add-to-cart{
                width: 49%;
            }
            .buy-now{
                width: 49%;
            }
        }
    }
}