.products-layout-container{
    overflow: hidden;
    height: 100px;
    width: 100vw;
    background-image: linear-gradient(45deg,rgba(20, 19, 31, 0.7),rgba(20, 19, 31, 0.7)), url('/banner3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.products-layout-button{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 6px;
    font-size: 22px;
    font-weight: 700;
    //opacity: .9;
}
.products-top-container-row{
    padding:30px 6.8vw;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
}
.products-bottom-container-col{
    padding:40px 80px;
    min-height: 65vh;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-wrap:wrap;
    overflow:hidden;
}

// RESPONSIVE AREA
@media only screen and (max-width:480px) {
    .products-top-container-row{
        padding: 16px 9px;
        .products-filter-button-main{
            display: none !important;
        }
        .products-filter-group-button{
            width: 50% !important;
        }
    }
    .products-bottom-container-col{
        padding: 15px 4px;
        justify-content: flex-start;
        .home-product-container{
            width: 44vw !important;
        }
    }
}
@media only screen and (min-width:980px) {
    .products-top-container-row{
        padding: 30px 6.8vw;
        .products-filter-group-button{
            width: 12% !important;
        }
    }
    .products-bottom-container-col{
        padding: 30px 6.8vw;
        justify-content: flex-start;
    }
}