.checkout-container{
    padding: 15vh 30vw 100px;
    .break-section{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0px;
        .heading{
            width: 20% !important;
            text-align: center;
        }
        .hr{
            background-color: #000;
            height: 2px !important;
            width: 40% !important;
        }
    }
    
}

.checkout-submit-button{
    border-radius: 10px;
    background: var(--prio-vai-like, linear-gradient(90deg, #5C33A9 0.25%, #E8639A 99.81%));
    border-color: var(--prio-vai-like, linear-gradient(90deg, #5C33A9 0.25%, #E8639A 99.81%));
    color: #FFF;
   // font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.billing-shipping-container{
    padding: 20px 60px 100px;
    display: flex;
    flex-direction: column;
    .form-container{
        padding: 40px 0px;
        .option-container{
            display: flex;
            flex-direction: column;
            padding: 50px 0px 10px;
            .title{
                font-size: 18px;
                font-weight: 700;
                margin: 10px 0px;
            }
            .cupon{
                color: #E8639A;
                margin-bottom: 10PX;
            }
            .side{
                .inner-title{
                    margin: 10px 0px;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
            .right-side{
                display: flex;
                flex-direction: column;
                border-right: 1px solid #000;
            }
            .left-side{
                display: flex;
                flex-direction: column;
            }
        }
    }
}