.checkout-middle-container{
    padding: 0px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 25px;
}
.checkout-middle-container.left-container{
    //padding-right: 20px;
    //margin-right: 5px;
    width: 49%;
    margin-right: 1%;
}
.checkout-middle-container.right-container{
    //padding-left: 20px;
    width: 49%;
    margin-left: 1%;
}
.checkout-container{
    padding: 15vh 30vw 100px;
    .break-section{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0px;
        .heading{
            width: 20% !important;
            text-align: center;
        }
        .hr{
            background-color: #000;
            height: 2px !important;
            width: 40% !important;
        }
    }
   
    
}
.checkout-require-input{
    color: #000;
    font-size: 12px;
}
.form-input-text{
    font-size: 13px;
}
.billing-title{
    font-size: 15px;
}
.checkout-require-input.is-empty{
    color: #fa541c;
}
.buy-more-button{
    background: var(--prio-vai-like, linear-gradient(90deg, #5C33A9 0.25%, #E8639A 99.81%));
    border-color: var(--prio-vai-like, linear-gradient(90deg, #5C33A9 0.25%, #E8639A 99.81%));
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}
.buy-more-button:hover {
    transform: scale(1.01);
    border-color: var(--prio-vai-like, linear-gradient(90deg, #5C33A9 0.25%, #E8639A 99.81%));
}
.checkout-submit-button{
    border-radius: 10px;
    background: var(--prio-vai-like, linear-gradient(90deg, #5C33A9 0.25%, #E8639A 99.81%));
    border-color: var(--prio-vai-like, linear-gradient(90deg, #5C33A9 0.25%, #E8639A 99.81%));
    color: #FFF;
   // font-family: Heebo;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    padding: 10px 8px;
    font-style: normal;
    border: none;
    font-weight: 600;
    line-height: normal;
    width:30%;
    margin:10px 0px;
}
.checkout-submit-button:hover {
    transform: scale(1.1);
}
.billing-shipping-container{
    padding: 20px 12vw 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    .form-container{
        padding: 40px 0px;
        .option-container{
            display: flex;
            flex-direction: column;
            padding: 20px 0px 10px;
            .title{
                font-size: 18px;
                font-weight: 700;
                margin: 10px 0px;
            }
            .cupon{
                color: #E8639A;
                margin-bottom: 10PX;
            }
            .side{
                .inner-title{
                    margin: 10px 0px;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
            .right-side{
                display: flex;
                flex-direction: column;
                border-right: 1px solid #000;
            }
            .left-side{
                display: flex;
                flex-direction: column;
            }
        }
    }
}

/*** RESPONSIVE AREA ***/
@media only screen and (max-width:480px) {
    .checkout-container{
        padding: 5vh 10px 30px;
        .break-section{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 10px;
            .heading{
                width: 20% !important;
                text-align: center;
            }
            .hr{
                background-color: #000;
                height: 2px !important;
                width: 40% !important;
            }
        }
    }
    .billing-shipping-container{
        padding: 10px 10px 0px;
        display: flex;
        flex-direction: column;
        .form-container{
            padding: 15px 0px;
            .option-container{
                padding: 10px;
                .title{
                    font-size: 16px;
                }
                .cupon{
                    color: #E8639A;
                    margin-bottom: 10px;
                }
                .side{
                    .inner-title{
                        font-size: 14px;
                    }
                }
                .right-side{
                    display: flex;
                    flex-direction: column;
                    border-right: none;
                }
                .left-side{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
    .checkout-submit-button{
        width:50%;
    }
    .checkout-middle-container{
        padding: 10px 12px;
    }
    .checkout-middle-container.left-container{
        padding-right: 8px;
        //margin-right: 0;
        width: 98%;
        margin: 1%;
    }
    .checkout-middle-container.right-container{
        padding-left: 8px;
        width: 98%;
        margin: 1%;
    }
}
@media only screen and (min-width:768px) {
  
}
@media only screen and (min-width:980px) {
    .checkout-container{
        padding: 15vh 30vw 100px;
        .break-section{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px 0px;
            .heading{
                width: 20% !important;
                text-align: center;
            }
            .hr{
                background-color: #000;
                height: 2px !important;
                width: 40% !important;
            }
        }
    }
    .billing-shipping-container{
        padding: 0px 12vw 0px;
        display: flex;
        flex-direction: column;
        .form-container{
            padding: 10px 0px;
            .option-container{
                display: flex;
                flex-direction: column;
                padding: 10px 0px 10px;
                .title{
                    font-size: 18px;
                    font-weight: 700;
                    margin: 10px 0px;
                }
                .cupon{
                    color: #E8639A;
                    margin-bottom: 10PX;
                }
                .side{
                    .inner-title{
                        margin: 10px 0px;
                        font-size: 16px;
                        font-weight: 700;
                    }
                }
                .right-side{
                    display: flex;
                    flex-direction: column;
                    border-right: 1px solid #000;
                }
                .left-side{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
    .checkout-submit-button{
        width:30%;
    }
    .checkout-middle-container{
        //padding: 0px;
    }
    .checkout-middle-container.left-container{
        padding-right: 20px;
        //margin-right: 0px;
        width: 49%;
        margin-right: 1%;
    }
    .checkout-middle-container.right-container{
        padding-left: 20px;
        width: 49%;
        margin-left: 1%;
    }
}
@media only screen and (min-width:1360px) {
    
}
@media only screen and (min-width:1920px) {
    
}