.filter-container{
    display: flex;
    //flex-wrap: wrap;
    min-height: 100px;
    height: auto;
}
.filter-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-button{
    margin: 0 15px;
    color: #000;
    font-weight: 600;
    line-height: 17px;
    font-size:27px;
    padding: 4px 0px !important;
    border: none;
    border-radius: 0 !important;
}
.filter-button:hover{
    background: transparent !important;
    color: #000 !important;
}
.filter-active-button{
    color: #5C33A9 !important;
    border-bottom: 3px solid #5C33A9;
}

.my-test-slick .slick-list .slick-track .slick-slide:first-child{
    border: 1px solid red !important;
}

// Isotope Items CSS
.filter-products-container{
    padding: 0px 100px;
    overflow: hidden;
}
.isotope-items{
    width: 16%;
    margin: 1% .4%;
    .isotope-filter-image{
        height: 36vh;
        width: 100%;
    }
}