.isotope-container{
    padding: 60px 7vw;
    display: flex;
    width: 100vw;
    //position: relative;

}
.filter-container{
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    height: auto;
}
.filter-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-button{
    margin: 0 15px;
    color: #000;
    font-weight: 600;
    line-height: 17px;
    font-size:27px;
    padding: 4px 0px !important;
    border: none;
    border-radius: 0 !important;
}
.filter-button:hover{
    background: transparent !important;
    color: #000 !important;
}
.filter-active-button{
    color: #5C33A9 !important;
    border-bottom: 3px solid #5C33A9;
}

.my-test-slick .slick-list .slick-track .slick-slide:first-child{
    border: 1px solid red !important;
}

// Isotope Items CSS
.filter-products-container-two{
    //padding: 0px 100px;
    overflow: hidden;
}
.isotope-items{
    width: 18.5%;
    margin: 1% .8%;
    .isotope-filter-image{
        height: 36vh;
        width: 100%;
    }
}


/*** RESPONSIVE AREA ***/
@media only screen and (max-width:480px) {
    .filter-products-container-two{
        padding: 0px 0px;
    }
    .isotope-items{
        width: 48%;
        margin: 1% .4%;
        .isotope-filter-image{
            height: 36vh;
            width: 100%;
        }
    }
    .filter-button{
        font-size:18px;
    }
    .isotope-container{
        padding: 60px 10px;
    }
}
  @media only screen and (min-width:768px) {
    /* .slider-controll-row .slider-controll-col .slick-slide{
        overflow: hidden;
        height: 16vh;
        width: 12.5% !important;
        padding: 2.5vh 2.5vw;
        background-color: antiquewhite;
    } */
  }
@media only screen and (min-width:980px) {
    .filter-products-container-two{
        padding: 0px 0px;
    }
    .isotope-items{
        width: 18.5%;
        margin: 1% .6%;
        .isotope-filter-image{
            height: 36vh;
            width: 100%;
        }
    }
    .filter-button{
        font-size:27px;
    }
    .isotope-container{
        padding: 60px 7vw;
    }
}